@model EmployeeViewModel
@{
    ViewData["Title"] = "Add Employee";
}

<h2>Add New Employee</h2>
<hr />

<form asp-action="Employee" method="post" class="mb-3">
    <h4 class="primary-color">Employee</h4>
    <div class="mb-4">
        <label asp-for="FirstName" class="form-label">What is the employee's first and last name?</label>
        <input asp-for="FirstName" placeholder="First Name" class="form-control mb-2">
        <input asp-for="LastName" placeholder="Last Name" class="form-control mb-2">
    </div>        
    <div class="mb-4">
        <label asp-for="EmployerCoveragePercent" class="form-label">What percentage will the the employer cover?</label>
        <div class="input-group">
            <input asp-for="EmployerCoveragePercent" class="form-control" placeholder="0 - 100">
              <span class="input-group-text">%</span>
        </div>
        
    </div>

    <h4 class="primary-color mt-3">Dependents</h4>
    <table class="table table-responsive text-white">
        <thead>
            <tr class="secondary-color">
                <th>First Name</th>
                <th>Last Name</th>
                <th style="width:48px;">
                    <a href="" id="add-new-dependent-button" class="splash-color" style="text-decoration: none !important;line-height:36px;"><span class="iconify" data-icon="mdi:account-plus" style="margin-right:5px;"></span></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Dependents.Count > 0)
            {
                @for (int i = 0; i < Model.Dependents.Count; i++)
                {
                    <tr>
                        <td><input class="form-control" style="width:100%;" asp-for="Dependents[i].FirstName" placeholder="First Name" ></td>
                        <td><input class="form-control" style="width:100%;" asp-for="Dependents[i].LastName" placeholder="Last Name" ></td>
                        <td>
                            <input id="Action" type="hidden" asp-for="Dependents[i].Action" >
                            <a href="" class="splash-color dependent-remove" style="text-decoration: none !important;line-height:36px;"><span class="iconify" data-icon="mdi:account-remove" style="margin-right:5px;"></span></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="no-dependents"><td colspan="3">No dependents</td></tr>
            }

            <tr id="dependent-template" style="display:none;">
                <td><input id="FirstName" class="form-control" style="width:100%;" placeholder="First Name" /></td>
                <td><input id="LastName" class="form-control" style="width:100%;" placeholder="Last Name" /></td>
                <td>
                    <input id="Action" type="hidden" value="Add" />
                    <a href="" class="splash-color dependent-remove" style="text-decoration: none !important;line-height:36px;"><span class="iconify" data-icon="mdi:account-remove" style="margin-right:5px;"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <span id="dependents-count" class="hidden" data-value="@Model.Dependents.Count()"></span>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-secondary-color">Save</button>
    <a asp-action="Index" class="btn btn-primary-color">Back</a>
</form>




