/*
    colors:
    031D3A
    005377
    6bfad4
    F1A208
    FFFFFF
    d9d9d9
    4d4d4d
    1a1a1a
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #031D3A;
  color: #FFFFFF;
}

.primary-color {
    color: #005377;
}

.secondary-color {
    color: #6bfad4;
}