/*
    colors:
    031D3A
    0090CE
    39A98B
    F1A208
    FFFFFF
    d9d9d9
    4d4d4d
    1a1a1a
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #031D3A;
  color: #FFFFFF;
}

/* pimary color */

.primary-color {
    color: #0090CE;
}

.bg-primary-color {
    background-color: #0090CE;
}

.border-primary-color {
    border-color: #0090CE;
}

.btn-primary-color {
    color: #FFF;
    background-color: #0090CE;
    border-color: #0090CE;
}

.btn-primary-color:hover {
    color: #000;
    background-color: #006b99;
    border-color: #004766;
}

/* secondary color */

.secondary-color {
    color: #39A98B;
}

.bg-secondary-color {
    background-color: #39A98B;
}

.border-secondary-color {
    border-color: #39A98B;
}

.btn-secondary-color {
    color: #FFF;
    background-color: #39A98B;
    border-color: #26735e;
}

    .btn-secondary-color:hover {
        color: #000;
        background-color: #26735e;
        border-color: #13392f;
    }

/* splash color */

.splash-color {
    color: #F1A208;
}

.bg-splash-color {
    background-color: #F1A208;
}

.border-splash-color {
    border-color: #F1A208;
}

.btn-splash-color {
    color: #FFF;
    background-color: #F1A208;
    border-color: #ad7505;
}

    .btn-splash-color:hover {
        color: #000;
        background-color: #ad7505;
        border-color: #634303;
    }

/* misc */

.bg-table-offset-color {
    background-color: #030F1E !important;
}

.iconify {
    font-size: 24px;
    line-height: 14px;
}

.validation-summary-errors {
    color: #dc3545;
}

.progress-bar {
    width: 72px;
    margin-left: 16px;
    display: none;
}
