/*
    colors:
    031D3A
    0090CE
    39A98B
    F1A208
    FFFFFF
    d9d9d9
    4d4d4d
    1a1a1a
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #031D3A;
  color: #FFFFFF;
}

.primary-color {
    color: #0090CE;
}

.bg-primary-color {
    background-color: #0090CE;
}

.border-primary-color {
    border-color: #0090CE;
}

.secondary-color {
    color: #39A98B;
}

.bg-secondary-color {
    background-color: #39A98B;
}

.border-secondary-color {
    border-color: #39A98B;
}

.splash-color {
    color: #F1A208;
}

.bg-splash-color {
    background-color: #F1A208;
}

.border-secondary-color {
    border-color: #F1A208;
}

.bg-table-offset-color {
    background-color: #030F1E !important;
}